body {
	padding-top: 50px;
	color: #000000;
	}

h1, h2, h3, h4, h5, h6 {
	color: black;
	}

	.glyphicon {
  top: 0.01em;
}

.feature {
	background: #d8d8fa linear-gradient(to bottom, #d8dbfa, #d8dbfa);
	color: #d8dbfa;
	}

#feature-carousel {
	min-height: 250px;
	}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
       margin-right: -20px;
    }
}

.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: #d8dbfa;
    color: black;
}

.carousel-inner > .item {
   height: 400px;
}

.footer-blurb-item {
    padding: 30px;
    }

.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}
