.card1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border-bottom: 0px solid grey;
    box-shadow: 0 4px 8px 0 rgba(2, 0, 1, 0.2);
    background-color: #E5E8E8;
    border-radius: 0;
    height:130%;
    
}

.card1 img{
    padding:30px;
    height: 70%;
    width: 100%;
}

.card-img-top1 {
    padding: 5px;
    background-color: #E5E8E8;
    border-radius: 0;
    height:30%;
    width: 30%;
}