label {
    float: left;
    width: 150px;
}

#container {
    width: 700px;
    margin: auto;
    background-color: white;

}
.card-img-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    margin: 0 auto;
    height:90px;
}
main {
    padding: 50px;
}

#errorName,
#errorEmail,
#errorNumber,
#errorZip,
#commentsError,
#checkedError,
#salutationError {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
}