.cardsContainer {
    display: flex;
    flex-direction: row;
    flex:1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: 0 auto;
}

.card:nth-child(odd) {
    border-right: 1px solid grey;
}

.card:nth-child(even) {
    border-right: 1px solid white;
    border-left: 1px solid grey;
    margin-left: -1px;
}

.author {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.content {
    padding-top: 0;
    width: 58%;
    padding: 5px;
}

.card {
    display: flex;
    flex-direction: row;
    width: 49%;
    padding: 5px;
    margin: 10px 0;
    border-bottom: 0px solid grey;
    box-shadow: 0 4px 8px 0 rgba(2, 0, 1, 0.2);
    background-color: #E5E8E8;
    border-radius: 25px;
    height:270px;
}

.card:hover {
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 2);
}

.image {
    padding-left: 1rem;
    width: 40%;
    margin-bottom: 0;
}

.cardsContainer img {
    max-width: 300px;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .cardsContainer {
        display: flex;
        flex-direction: column;
    }
    .card:nth-child(odd) {
        border-right: 0;
    }
    .card {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .card .image {
        order: -2;
        width: 80%;
        padding-left: 0;
        margin-top: 2rem;
    }
    .card:nth-child(even) {
        margin-left: inherit;
    }
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        width: 80%;
        margin: 0 auto;
    }
    .content {
        width: 80%;
    }
    .cardsContainer {
        justify-content: center;
        align-items: center;
    }
}